@import "tailwindcss" important;

@custom-variant dark (&:where(.dark, .dark *));

.vocs_Banner {
  background-color: #f6f6f6;
  border-bottom: 1px solid #e6e6e6;
  color: #1a191b;
}

.vocs_Banner_closeButton {
  background-color: #f6f6f6;
}

.dark {
  .vocs_Banner {
    background-color: #1a191b;
    border-bottom: 1px solid #2a292b;
    color: white;
  }

  .vocs_Banner_closeButton {
    background-color: #1a191b;
  }
}
